In [1]:
# packages i need

import numpy as np
import pandas as pd
import glob
import os
import csv
import re
import csv

!ls

sample_data

In [0]:
!pip install --upgrade -q gspread

In [0]:
# Authenticate to GCS.
from google.colab import auth
auth.authenticate_user()

# https://cloud.google.com/resource-manager/docs/creating-managing-projects
project_id = '[your Cloud Platform project ID]'

# Create the service client.
from googleapiclient.discovery import build
gcs_service = build('storage', 'v1')

from apiclient.http import MediaIoBaseDownload

with open('/tmp/gsutil_download.txt', 'wb') as f:
  # Download the file from a given Google Cloud Storage bucket.
  request = gcs_service.objects().get_media(bucket=bucket_name,
                                            object='to_upload.txt')
  media = MediaIoBaseDownload(f, request)

  done = False
  while not done:
    # _ is a placeholder for a progress object that we ignore.
    # (Our file is small, so we skip reporting progress.)
    _, done = media.next_chunk()        
  
print('Download complete')

In [0]:
# Inspect the file we downloaded to /tmp
!cat /tmp/downloaded_from_gcs.txt

In [0]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open('Your spreadsheet name').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
print(rows)

# Convert to a DataFrame and render.
import pandas as pd
pd.DataFrame.from_records(rows)

In [0]:
import zipfile
with zipfile.ZipFile("Nss62_1_new_format.zip","r") as zip_ref:
    zip_ref.extractall("targetdir")

NameError: name 'targetdir' is not defined

In [0]:
!ls

 Data.ipynb		    'Nss64_1.0_new format.zip'	       targetdir
 Nss62_1_new_format.zip     'Nss66_1.0_type1_new format.zip'   Untitled.ipynb
'Nss63_1.0_new format.zip'   nss_to_csv.py

In [0]:
# dta format from targetdir

index_file_names = pd.read_stata("targetdir/Nss62_1.0_new_format/block_5_monthly_household_expenditure_on_food_and_non_food_items.dta", chunksize=50)
i = 0
for chunk in index_file_names:
    i = chunk
    break

In [0]:
i.columns

Index(['HHID2', 'CentreCodeRoundShift', 'Vill_Blk_Slno', 'Round',
       'ScheduleNumber', 'Sample', 'Sector', 'St_Region', 'State', 'District',
       'Stratum', 'SubStratum', 'SubRound', 'SubSample', 'FODSubRegion',
       'SegmentNo', 'Stage2_Stratum', 'Hhold_no', 'Level', 'B5_q1', 'B5_q3',
       'B5_q4', 'B5_q5', 'nss', 'nsc', 'mlt', 'WGT_SS', 'WGT_SS_Combined'],
      dtype='object')

In [0]:
i.head()

,HHID2,CentreCodeRoundShift,Vill_Blk_Slno,Round,ScheduleNumber,Sample,Sector,St_Region,State,District,...,Level,B5_q1,B5_q3,B5_q4,B5_q5,nss,nsc,mlt,WGT_SS,WGT_SS_Combined
0,505831101,005,50583,62,010,1,1,292,29,15,...,04,101,20.0,60.0,1,2,4,32192.89,321.9289,160.96445
1,505831101,006,50583,62,010,1,1,292,29,15,...,04,102,20.0,140.0,2,2,4,32192.89,321.9289,160.96445
2,505831101,007,50583,62,010,1,1,292,29,15,...,04,108,2.0,24.0,1,2,4,32192.89,321.9289,160.96445
3,505831101,008,50583,62,010,1,1,292,29,15,...,04,110,0.5,6.0,1,2,4,32192.89,321.9289,160.96445
4,505831101,009,50583,62,010,1,1,292,29,15,...,04,111,0.5,7.0,1,2,4,32192.89,321.9289,160.96445

In [0]:
!ls -l targetdir/N*/

total 2359788
-rw-rw-rw- 1 jovyan jovyan       179 Feb 26 15:20  autorun.inf
-rw-rw-rw- 1 jovyan jovyan    110840 Feb 26 15:20  AutorunPro.exe
-rw-rw-rw- 1 jovyan jovyan  64830330 Feb 26 15:20 'block 10_ monthly household expenditure on misc goods and services.dta'
-rw-rw-rw- 1 jovyan jovyan  67740672 Feb 26 15:20 'block 10_ monthly household expenditure on misc goods and services.sas7bdat'
-rw-rw-rw- 1 jovyan jovyan 190005866 Feb 26 15:20 'Block 10_ Monthly household expenditure on misc goods and services.sav'
-rw-rw-rw- 1 jovyan jovyan  43848041 Feb 26 15:20 'block 11_household expenditure on durables.dta'
-rw-rw-rw- 1 jovyan jovyan  51831808 Feb 26 15:20 'block 11_household expenditure on durables.sas7bdat'
-rw-rw-rw- 1 jovyan jovyan 105843086 Feb 26 15:20 'Block 11_Household expenditure on durables.sav'
-rw-rw-rw- 1 jovyan jovyan   4346434 Feb 26 15:20 'block 3_household characteristics.dta'
-rw-rw-rw- 1 jovyan jovyan   4760576 Feb 26 15:20 'block 3_household characteristics.sas7bdat'
-rw-rw-rw- 1 jovyan jovyan  13979130 Feb 26 15:20 'Block 3_Household Characteristics.sav'
-rw-rw-rw- 1 jovyan jovyan  19199900 Feb 26 15:20 'block 4_person records.dta'
-rw-rw-rw- 1 jovyan jovyan  23593984 Feb 26 15:20 'block 4_person records.sas7bdat'
-rw-rw-rw- 1 jovyan jovyan  53102292 Feb 26 15:20 'Block 4_Person records.sav'
-rw-rw-rw- 1 jovyan jovyan 181366392 Feb 26 15:20 'block_5_monthly household expenditure on food and non food items.dta'
-rw-rw-rw- 1 jovyan jovyan 181366392 Feb 26 14:58  block_5_monthly_household_expenditure_on_food_and_non_food_items.dta
-rw-rw-rw- 1 jovyan jovyan 184247296 Feb 26 15:21 'block 5_monthly household expenditure on food and non food items.sas7bdat'
-rw-rw-rw- 1 jovyan jovyan 466496728 Feb 26 15:21 'Block 5_Monthly household expenditure on food and non food items.sav'
-rw-rw-rw- 1 jovyan jovyan  19392504 Feb 26 15:21 'block 6_monthly household expenditure on fuel and light.dta'
-rw-rw-rw- 1 jovyan jovyan  19702784 Feb 26 15:21 'block 6_monthly household expenditure on fuel and light.sas7bdat'
-rw-rw-rw- 1 jovyan jovyan  49778618 Feb 26 15:21 'Block 6_Monthly household expenditure on fuel and light.sav'
-rw-rw-rw- 1 jovyan jovyan  33146239 Feb 26 15:21 'block 7_household expenditure on clothing, bedding etc.dta'
-rw-rw-rw- 1 jovyan jovyan  34026496 Feb 26 15:21 'block 7_household expenditure on clothing, bedding etc.sas7bdat'
-rw-rw-rw- 1 jovyan jovyan  84371178 Feb 26 15:21 'Block 7_Household expenditure on clothing, bedding etc.sav'
-rw-rw-rw- 1 jovyan jovyan  10960232 Feb 26 15:21 'block 8_household expenditure on footwear.dta'
-rw-rw-rw- 1 jovyan jovyan  11465728 Feb 26 15:21 'block 8_household expenditure on footwear.sas7bdat'
-rw-rw-rw- 1 jovyan jovyan  29650154 Feb 26 15:21 'Block 8_Household expenditure on footwear.sav'
-rw-rw-rw- 1 jovyan jovyan  11098810 Feb 26 15:21 'block 9_household expenditure on education and medical (institutional) goods and services.dta'
-rw-rw-rw- 1 jovyan jovyan  11596800 Feb 26 15:21 'block 9_household expenditure on education and medical (institutional) goods and services.sas7bdat'
-rw-rw-rw- 1 jovyan jovyan  32517214 Feb 26 15:21 'Block 9_Household expenditure on education and medical (institutional) goods and services.sav'
-rw-rw-rw- 1 jovyan jovyan   3871212 Feb 26 15:21 'blocks 1,2_identification of sample household.dta'
-rw-rw-rw- 1 jovyan jovyan   4150272 Feb 26 15:21 'blocks 1,2_identification of sample household.sas7bdat'
-rw-rw-rw- 1 jovyan jovyan  10773133 Feb 26 15:21 'Blocks 1,2_Identification of Sample Household.sav'
drwxrwxrwx 3 jovyan jovyan         3 Feb 26 14:59  brandings
-rw-rw-rw- 1 jovyan jovyan       397 Feb 26 15:22  index.html
-rw-rw-rw- 1 jovyan jovyan 389307983 Feb 26 15:22  NSSO_62_Schedule_1_Consumer_Expenditure.Nesstar
-rw-rw-rw- 1 jovyan jovyan     16123 Feb 26 15:22  README_FIRST.docx
drwxrwxrwx 3 jovyan jovyan         3 Feb 26 14:59  software
drwxrwxrwx 6 jovyan jovyan        16 Feb 26 14:59  survey0

In [0]:
# show the files


index_file_names

In [0]:
# read the files in stata


data = pd.read_stata("demographic_and_other_particulars_of_household_members.dta")

In [0]:
# read other files


data_2 = pd.read_stata('summary of comsumer expenditure.dta')

In [0]:

# taking string and using the dictionary


def pull_files(folder_name):
    """
    INPUTS: Takes in a folder name as a stirng
    OUTPUTS: DataFrame Dictionary
    """
    output = {}
    file_path = folder_name + '/*.dta'
    index_file_names = glob.glob(file_path)
    for file in index_file_names:
        output[file] = pd.read_stata(file)
        print(file + " successfully uploaded, chief")
    return output

In [0]:

# using the data dictionary


data_dict = pull_files("Nss64_1.0_type1_new format")

In [0]:
# 2

curr = data_dict["Nss64_1.0_type1_new format/identification of sample household.dta"].head()

In [0]:

# 3


curr.head()